

body {
     background-image:url("https://media.giphy.com/media/O5ac76MtFGPHG/giphy.gif");
     background-repeat:no-repeat;
     background-size:cover;
    /*background-image:url("https://media.giphy.com/media/VCImBo2uUBqqQ/giphy.gif");
    background-repeat:no-repeat;
    background-size:200px;
    background-position: right;*/
    
 
}

h1{
    text-align: center;
    font-size:100px;
}

h2 {
    text-align:center;
    font-size:50px;
}

img {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top:-160px; 
   margin-left:-120px;
   height:320px;
   width:240px;
}




